<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.example.hijazitransport">

    <uses-permission android:name="android.permission.CALL_PHONE" />
    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        tools:ignore="GoogleAppIndexingWarning">
        <activity android:name=".activity.EditProfile"></activity>
        <activity android:name=".activity.TripSchedule" />
        <activity android:name=".activity.ResetPassword" />
        <activity android:name=".activity.Registration" />
        <activity android:name=".activity.Login" />
        <activity android:name=".activity.Base" />
        <activity android:name=".activity.More" />
        <activity android:name=".activity.OfficeLocation" />
        <activity android:name=".activity.HijaziCard" />
        <activity android:name=".activity.MyReservation" />
        <activity android:name=".activity.BookBus" />
        <activity android:name=".activity.SplashScreen">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>